.logo-ctrl {
    height: 5.5em;
}
@media only screen and (max-width: 600px) {
    .mobile-display-hide {
        display: none;
    }
    .mobile-display-show {
        display: flex;
    }
}
@media only screen and (min-width: 600px) {
    .mobile-display-show {
        display: none;
    }
    .mobile-display-hide {
        display: flex;
    }
}
